body {background-color: #6369A7;
  font-size: 30pt;
  background: url("")no-repeat ;
  object-fit: container;
}
 #portfolio{
   display: grid;
   text-align:left ;
   
 }
 li{
   color: #3C352D;
 }
  body{
    background-color: #87AEA1;
    margin: 0;
    padding: 0;
  }
  a{
    color: #D5DCCF;
    margin: 20px;
    padding: 20px;
  }
h2{
  text-decoration: underline;
  color: #268897;
  margin: 20px;
}
.pop{
  color: #3C352D;
  margin: 10px;
  padding: 90px;
  gap: 20px;
  width: 100%;
}
#pp{
  font-style: italic;
  margin: 20px;
  padding: 10px;
  color: #268897;
}
.ok{
  text-decoration: underline;
  margin: 20px;
  padding: 10px;
}
#ko{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contact{
 color:  #21908F;
 margin: 20px;
 padding: 10px;
}
.p{
  width: 100%;
}
